* {
    box-sizing: border-box;
    margin: 0;          /*External border*/
    padding: 0;         /*Internal border*/
    font-family: 'Kumbh Sans', sans-serif;
}

.navbar {                       /*The background*/
    background: #000000;
    height: 80px;
    display: flex;          /*centers content*/
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;       /*keeps black box to top of visual user screen no matter how down you scroll*/
    top: 0;
    z-index: 999;           /*elements with a larger z-index are displayed over things that have lower z-index. 999 'ensures' that navigation bar layers over everything.*/
}

.navbar__container {        /*the body of hyperlinks. the container of navbar box */
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}

#navbar__logo{                      /*The logo vigorometry */
    background-color: #ff8177;
    background-image: linear-gradient(to bottom, #ff0040 0%, #ffb8bd 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;

}

.fa-dumbbell {
    margin-right: 0.5rem;
}

.navbar__menu{      /*takes the hyperlinks to the center*/
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.navbar__item {
    height: 80px;
}

.navbar__links {        /*seperates each link by some white spaces*/
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
}

.navbar__btn {      /*for a button in navbar*/
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    width: 100%;
}

.button {           /*creates a button box around "sign up" link */
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #f77062;
    color: #fff;
}

.button:hover {    /*hover over sign up button and box turns blue*/     
    background: #4837ff;
    transition: all 0.5s ease;
}

.navbar__links:hover {      /*hover over links and they turn red*/
    color: #ff1313;
    transition: all 0.5s ease;
}

@media screen and (max-width: 960px) {  /*allows us to slide menu down to view*/
    /*This is a media query for screens smaller than 960px. It modifies several of the above styles to make the navbar responsive to smaller screens, like hiding the menu until toggled and changing layout to a vertical grid.*/
    .navbar__container {
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;
    }

    .navbar__menu {
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 0;
        transition: all 0.5s ease;
        height: 50vh;
        z-index: -1;
        background: #131313;

    }

    .navbar__menu.active {      /*The black background of the slide-down action*/
        background: #000000;
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 50vh;
        font-size: 1.6rem;
    }

    #navbar__logo {
        padding-left: 25px;
    }

    .navbar__toggle .bar {          /*Everything here is just how the menu would look on a small phone screen, after you hit toggle button*/
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: #fff;
    }

    .navbar__item {
        width: 100%;
    }

    .navbar__links {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    #mobile-menu {
        position: absolute;
        top: 20%;
        right: 5%;
        right: 5%;
        transform: translate(5%, 20%);
    }

    .button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 80px;
        margin: 0;
    }

    .navbar__toggle .bar{       /*it's the three row horizontaal lines that allows you to surf through stuff*/ 
        display: block;
        cursor: pointer;
    }

    #mobile-menu.is-active .bar:nth-child(2) {  /*allows animation of the toggle horizontal lines menu icon to turn into an X button*/
        opacity: 0;
    }

    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}



/* Hero Section CSS */
.main{
    background-color: #141414;
}

.main__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-self: center;
    margin: 0 auto;
    height: 90vh;
    background-color: #141414;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0 50px;
}

.main__content h1 {
    font-size: 4rem;
    background-color: #ff8177;
    background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.main__content h2 {
    font-size: 4rem;
    background-color: #ff8177;
    background-image: linear-gradient(to top, #77d6ff 0%, #3a09ff 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.main__content p {
    margin-top: 1rem;
    font-size: 2rem;
    font-weight: 700;
    color: #fff;
}

.main__btn {        /*Get Started button*/
    font-size: 1rem;
    background-image: linear-gradient(to top, #f77062 0%, #fe5196 100%);
    padding: 14px 32px;
    border: none;
    border-radius: 4px;
    color: #fff;
    margin-top: 2rem;
    cursor: pointer;
    position: relative;
    transition: all 0.35s;
    outline: none;
}

.main__btn a {      /*--gets rid of underline in the 'get started' button*/
    position: relative;
    z-index: 2;
    color: #fff;    /*get started font color*/
    text-decoration: none;
}

.main__btn:after {     
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #4837ff;    /*hover effect on button*/
    transition: all 0.275s;
    border-radius: 4px;
}

.main__btn:hover { /*For hover effect when cursor is on 'get started' button*/
    color: #fff;
}

.main__btn:hover:after {    
    width: 100%;    /*how much of button is covered by transition effect*/
}

.main__img--container {
    text-align: center;
}

#main__img {
    height: 80%;
    width: 80%;
}

/* Mobile Responsive part. Now the .svg file of the kettlebells doesn't disapear when the screen is too small*/ 
@media screen and (max-width: 768px) {
    .main__container {
        display: grid;
        grid-template-columns: auto;
        align-items: center;
        justify-self: center;
        width: 100%;
        margin: 0 auto;
        height: 90vh;
    } 

    .main__content {
        text-align: center;     /*aligns the text of 'content' to center when on mobile size screen*/
        margin-bottom: 4rem;
    }

    .main__content h1 {
        font-size: 2.5rem;
        margin-top: 2rem;
    }

    .main__content h2 {
        font-size: 3rem;
    }

    .main__content p {
        margin-top: 1rem;
        font-size: 1.5rem;
    }

}

@media screen and (max-width: 480px) {  /*I think for even smaller screens*/

    .main__content h1 {
        font-size: 2rem;
        margin-top: 3rem;
    }

    .main__content h2 {
        font-size: 2rem;
    }

    .main__content p {
        margin-top: 2rem;
        font-size: 1.5rem;
    }

    .main__btn {
        padding: 12px 36px;
        margin: 2.5rem 0;
    }
}

/*Services Section CSS */
.services {
    background: #141414;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;

}

.services h1 {
    background-color: #ff8177;
    background-image: linear-gradient(
        to right, 
        #ff8177 0%, 
        #ff867a 0%, 
        #ff8c7f 21%,
        #f99185 52%,
        #cf556c 78%, 
        #b1285b 100%
    );  /*see what the hype is about text*/
    
    background-size: 100%;
    margin-bottom: 5rem;
    font-size: 2.5rem;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;

}

.services__container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.services__card {
    margin: 1rem;
    height: 525px;
    width: 400px;
    border-radius: 4px;
    background-image: linear-gradient(to
    bottom, rgba(0,0,0,0) 0%, rgba(17,17,17,0.6) 100%), url('/images/32KB.jpg');
    background-size: cover;
    position: relative;
    color: #fff;
}

.services__card:nth-child(2) {
    background-image: linear-gradient(to
    bottom, rgba(0,0,0,0) 0%, rgba(17,17,17,0.6) 100%), url('/images/pushupDB.jpg');
    background-size: cover;
    position: relative;
    color: #fff;

}

.services h2 {
    position: absolute;
    top: 350px;
    left: 30px;
}

.services__card p {
    position: absolute;
    top: 400px;
    left: 30px;
}

.services__card button {
    color: #fff;
    padding: 10px, 20px;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #f77062;    /*Get started text in picture*/
    position: absolute;
    top: 440px;
    left: 30px;
    font-size: 1rem;
    cursor: pointer;

}

.services__card:hover {     /*When you hover over the images, they increase in size*/
    transform: scale(1.075);
    transition: 0.2s ease-in;
    cursor: pointer;
}

@media screen and (max-width: 960px) {
    .services {
        height: 1600px;
    }

    .services h1 {
        font-size: 2rem;
        margin-top: 12rem;
    }
}

@media screen and (max-wdith: 480px) {
    
    .services {
        height: 1400px;
    }

    .services h1 {
        font-size: 1.2rem;
    }

    .services__card {
        width: 300px;
    }
}

/* Footer CSS */
.footer__container {
    background-color: #000000;
    padding: 5rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#footer__logo {
    color: #fff;
    text-decoration: none;  /*Gets rid of underline in hyperlink*/
    font-size: 2rem;
}

.footer__links {
    display: flex;
}

.footer__link--wrapper {
    display: flex;
}

.footer__link--items {
    display: flex;
    flex-direction: column;
    margin: 16px;
    width: 160px;
}


.footer__link--items > h2 {
    color: #fff;
}

.footer__link--items a {
    color: #fff;
    text-decoration: none;
    margin-bottom: 0.5rem;
}

.footer__link--items a:hover {
    color: #7e7e7e; /*hover color change over items in footer*/
    transition: 0.16s ease-out;
}


/*Social Icons*/
.social__icon--link {
    color: #6973fc;
    font-size: 24px;
}

.social__media {
    width: 100%;
}

.social__media--wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
    margin: 40px auto 0 auto;
}

.social__icons {
    display: flex;
    justify-content: space-between;
    width: 150px;
}

.social__logo {
    color: #fff;
    margin-left: 20px;
    text-decoration: none;
    font-size: 2rem;
    margin-bottom: 16px;
}

.website__rights {
    color: #fff;
}

@media screen and (max-width: 820px) {
    .footer__links {
        padding-top: 2rem;
    }

    #footer__logo {
        margin-bottom: 2rem;
    }

    .website__rights {
        margin-bottom: 2rem;
    }

    .footer__link--wrapper {
        flex-direction: column;
    }

    .social__media--wrap {
        flex-direction: column;
    }
}

@media screen and (max-width: 480px) {
    .footer__link--items {
        margin: 0;
        padding: 10px;
        width: 100%;
    }
}